#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  display: flex;
 align-items: center;
  
}



.card {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2rem;
  

}

.read-the-docs {
  color: #888;
}
